@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    transition: color 0.3s ease;
    
    &-active {
      color: theme('colors.indigo.600');
      font-weight: theme('fontWeight.semibold');
    }
  }